<div class="every-page-container questions-container" ng-init="init()">
    <div class="application-header">
        <img class="backbutton-icon" src="img/backbutton.png" ng-click="goBack()" />
        <div class="page-heading">Answers</div>
    </div>
    <div class="application-detail">
        <div class="questions-page-container">
            <div class="question-text">{{questionInformation.srNo}}. {{questionInformation.questionText}}</div>
            <div class="options-container">
                <div class="options-each" ng-repeat="option in questionInformation.options" ng-style="{'background-color':correctOrWrongColor(questionInformation, option)}">
                    <div class="option-block">
                        <input class="option-radio-button" type="checkbox" name="options" />
                        <div class="option-text">{{option.option}}</div>
                    </div>
                    <div class="correct-option-or-not" ng-bind-html="correctOrWrongSymbol(questionInformation, option)"></div>
                </div>
            </div>
        </div>
        <div class="next-end-question" ng-click="goToNextQuestionOrEndTest()">
            <img src="img/backbutton.png" />
        </div>
    </div>
</div>
