
body {
    padding: 0;
    margin: 0;
    font-family: cursive;
    min-width: 220px;
}
.application-header {
    color: white;
    background: red;
    font-size: 1.5em;
    text-align: center;
    padding: 40px 15px;
    font-weight: bold;
    box-shadow: 0px 1px 10px grey;
}
img.backbutton-icon {
    float: left;
    width: 25px;
    display: inline-block;
    vertical-align: top;
}
.page-heading {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}